{% extends 'base.html' %}
    {% block content %}
        {% if request.user.is_authenticated and not school_admin%}
      <!-- класс py-5 создает отступы сверху и снизу блока -->
              <div class="container py-5 row br">
               

              <a class="btn btn-outline-dark" href="{% url 'classes:classes_homeworks' class_user %}"><br>Дневник<br><br></a>
                
              </div>
            {% elif school_admin %}
             <div class="container py-5 row">
            <a class="btn btn-primary" href="{% url 'school_admin_panel:index' %}">
                  Админ-панель школы
            </a>
               </div>
            {% else %}
             <div class="container py-5 row">
            <h3><a class="btn btn-primary" href="{% url 'users:signup' %}">Зарегистрироваться</a></h3>
             </div>
        {% endif %}
{% endblock %}
