{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Зарегистрироваться</div>
          <div class="card-body">

          {% load user_filters %} {# Загружаем фильтры #}
              {% if form.errors %}
                  {% for i in form %}
                  {% for field in i %}

                    {% for error in field.errors %}
                      <div class="alert alert-danger">
                        {{ error|escape }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                      {% endfor %}
                  {% endfor %}
              {% endif %}
          <h2>Понедельник</h2>

              <form method="post" enctype="multipart/form-data" action="{% url 'school_admin_panel:add_shedule' class_id=class_id %}">
              {% csrf_token %}

              {# Выводим поля в цикле, по отдельности #}
              {% for i in form %}
                  {% for field in i %}


                <div class="form-group row my-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {# К полю ввода добавляем атрибут class #}
                  {{ field|addclass:'form-control' }}
                    {% if field.help_text %}
                      <small
                         id="{{ field.id_for_label }}-help"
                         class="form-text text-muted"
                      >
                        {{ field.help_text|safe }}
                      </small>
                    {% endif %}
                </div>

              {% endfor %}
                 {% if forloop.counter|remainder_by_10_equally_0 and not forloop.last%}
                          <hr><hr><h2>{{ days|index_list:forloop.counter}}</h2><hr><hr>
                      {% endif %}
              <div style="position: absolute; left: 30px; top: 4500px" class="col-md-6 offset-md-4">
              </div>
              {% endfor %}
                  <button type="submit" class="btn btn-primary">
                  Добавить студента
                </button>
            </form>

    


          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}